<app-top-header></app-top-header>
<div class="container-fluid ">
  <div class=" customers-row">
    <div class="jumbotron jumbotron-fluid ">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 ">
            <h1 class="align-self-start d-flex justify-content-center d-flex flex-wrap">Welcome to <strong>ToDo</strong> app!!</h1>
            <p class="align-self-center d-flex justify-content-center d-flex flex-wrap"><strong>What is Todo ? .. </strong> Todo is a way to organize your daily action items. It gives you a way to
              set a reminder for your daily important events. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-sm-12 d-flex justify-content-center">

            <div class="col-lg-12 col-sm-12 customer-logos-wrapper d-flex justify-content-center ">

              <div [ngClass]="{'active' : toggelForm}" (click)="toggle('F') " class="card d-flex flex-wrap" appHiglighter style="width: 30%;">
                <div class="card-body align-self-center">
                  <h2 class="">Add Events</h2>
                  <span class="subtext">Click to Add an event!</span>
                </div>
              </div>
              <div [ngClass]="{'active' : toggelList}" (click)="toggle('L')" class="card d-flex flex-wrap" appHiglighter style="width: 30%;">
                <div class="card-body align-self-center">
                  <h2 class="">View Events</h2>

                  <span class="subtext">Click to view all events!!</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Submit form component -->
        <app-submit-form (resetForm)="toggelForm = !toggelForm" *ngIf="toggelForm"></app-submit-form>
        <!-- Event List component -->
        <app-event-list *ngIf="toggelList"> </app-event-list>

      </div>
    </div>

  </div>